{"openapi":"3.0.1","info":{"title":"E-invoicing API","description":"API to send invoices to be certified (e-invoicing) or declared (e-reporting) in different countries. The invoice can be also used to prepare VAT returns under certain conditions","version":"1.0.0"},"servers":[{"url":"https://gw.marosavat.com/api/invoicing"}],"paths":{"/v1/invoice/download/template":{"get":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Download Template","description":"Download Marosa template to generate new batches","operationId":"downloadTemplate","parameters":[{"name":"purpose","in":"query","description":"Electronic invoicing or real time reporting documents","required":true,"schema":{"type":"string","enum":["EINVOICING","EREPORTING","RETURNS"]}},{"name":"countryIso","in":"query","description":"Country code in ISO 3166-1 alpha-2","required":true,"schema":{"type":"string","enum":["ES"]}}],"responses":{"200":{"description":"File created","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/document/validate/ubl":{"post":{"tags":["Validate UBL Document"],"summary":"Validate Transaction XML Documents with UBL 2.1 Validator","description":"Applies validations to an XML invoice","operationId":"validateDocument","requestBody":{"content":{"application/xml":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"Invoice validated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UBLValidationResult"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/invoice/reconcile/export":{"post":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Get a file with reconciliation","description":"Match marosa database with aeat and produce a file that will be sent to your email","operationId":"reconcile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsultRequestApi"}}},"required":true},"responses":{"200":{"description":"File created","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/batch":{"post":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Create invoices per batch file (CSV, EXCEL)","description":"Creates a batch of invoices based on the `sync` flag and `countryIsoCode`. If `sync` is true, the file will be processed synchronously. If `sync` is false, the file will be processed asynchronously and sent to your email.","operationId":"saveBatch","parameters":[{"name":"purpose","in":"query","description":"Indicates the purpose for the batch (e-Invoicing, e-Reporting, Returns)","required":true,"schema":{"type":"string","example":"EREPORTING"}},{"name":"countryIso","in":"query","description":"Country code of the company, in ISO 3166-1 alpha-2 format","required":true,"schema":{"type":"string","example":"ES"}},{"name":"vatNumber","in":"query","description":"VAT number of the company","required":true,"schema":{"type":"string","example":"B27835560"}},{"name":"sync","in":"query","description":"Flag indicating whether the process should be synchronous or asynchronous.","required":true,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"Batch file","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"Batch created successfully","content":{"application/json":{"schema":{"type":"string","format":"binary"},"examples":{"Sync Batch Response":{"description":"Sync Batch Response","value":"Exported invoices file (CSV format)"},"Async Batch Response":{"description":"Async Batch Response","value":"Export initiated asynchronously. Check your email."}}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/invoice-pdf":{"post":{"tags":["Invoice to PDF converter"],"summary":"Transform an uploaded invoice into a PDF document","description":"Accepts an invoice file '.xml or .pdf' (e.g., UBL, CII or ZUGFeRD format) and returns the rendered PDF.\n- Only supported formats will be successfully processed.\n- The PDF is returned synchronously.\n","operationId":"transformInvoiceToPdf","requestBody":{"content":{"multipart/form-data":{"schema":{"required":["file"],"type":"object","properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"PDF generated successfully","content":{"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"400":{"description":"Invalid file format or content","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}},"500":{"description":"Internal server error while processing the invoice","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/invoice/export":{"post":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Export invoices (sync or async)","description":"Export invoices based on the provided filter.\n- If `async` is true, the file will be exported asynchronously and sent to your email.\n- If `async` is false, the file will be exported synchronously and returned directly max invoices 100,000.\n","operationId":"exportInvoices","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExportTableApi"},"examples":{"Synchronous Export":{"description":"Synchronous Export","value":{"invoiceFilter":{"purpose":"EREPORTING","flow":"ISSUED","countryIso":"ES","companyVatNumbers":["B27835560"],"period":[{"from":"2024-01","to":"2024-04"}],"year":"2024","statuses":["CORRECTO","INCORRECTO:3000","ACEPTADO_CON_ERRORES:2025"],"documentNumber":"myInvoice","batchNumber":"1234","batchReference":"BATCH-REF-001"},"async":false}},"ASynchronous Export":{"description":"ASynchronous Export","value":"{\n  \"invoiceFilter\": {\n    \"purpose\": \"EREPORTING\",\n    \"flow\": \"ISSUED\",\n    \"countryIso\": \"ES\",\n    \"companyVatNumbers\": [\n      \"B27835560\"\n    ],\n    \"period\": [\n      {\n        \"from\": \"2024-01\",\n        \"to\": \"2024-04\"\n      }\n    ],\n    \"year\": \"2024\",\n    \"statuses\": [\"CORRECTO\", \"INCORRECTO:3000\", \"ACEPTADO_CON_ERRORES:2025\"],\n    \"documentNumber\": \"myInvoice\",\n    \"batchNumber\": \"1234\",\n    \"batchReference\": \"BATCH-REF-001\",\n  },\n  \"async\": true\n}\n"}}}},"required":true},"responses":{"200":{"description":"Invoices exported successfully","content":{"text/csv":{"schema":{"type":"string","format":"binary"},"examples":{"Synchronous Export Response":{"description":"Synchronous Export Response","value":"Exported invoices file (CSV format)"}}},"text/plain":{"schema":{"type":"string","format":"string"},"examples":{"Asynchronous Export Response":{"description":"Asynchronous Export Response","value":"Export initiated asynchronously. Check your email."}}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/es/certificate":{"post":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Create a new certificate to use in AEAT","description":"Put a new certificate in your company","operationId":"saveCertificate","parameters":[{"name":"countryIso","in":"query","description":"Country code of the company, in ISO 3166-1 alpha-2 format","required":true,"schema":{"type":"string","example":"ES"}},{"name":"vatNumber","in":"query","description":"VAT number of the company","required":true,"schema":{"type":"string","example":"B27835560"}},{"name":"password","in":"query","description":"Certificate password","required":true,"schema":{"type":"string","format":"password"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","description":"Certificate file","format":"binary"}}}}},"required":true},"responses":{"200":{"description":"Certificate updated","content":{"*/*":{"schema":{"type":"string"}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/invoice/create/file":{"post":{"tags":["Spain (SII and Veri*Factu)"],"summary":"Export invoices to a new file using the template's format. (sync or async)","description":"Export invoices based on the provided filter.\n- If `async` is true, the file will be exported asynchronously and sent to your email.\n- If `async` is false, the file will be exported synchronously and returned directly max invoices 100,000.\n","operationId":"createBatchFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvoiceBatchGeneratorApi"},"examples":{"Synchronous Export":{"description":"Synchronous Export","value":{"invoiceFilter":{"purpose":"EREPORTING","flow":"ISSUED","countryIso":"ES","companyVatNumbers":["B27835560"],"period":[{"from":"2024-01","to":"2024-04"}],"year":"2024","statuses":["CORRECTO","INCORRECTO:3000","ACEPTADO_CON_ERRORES:2025"],"documentNumber":"myInvoice","batchNumber":"1234","batchReference":"BATCH-REF-001"},"batchInformation":{"returnType":"A0","reportingEntityTIN":"B27835560","surnamesAndNameOrCompanyName":"Marosa","legalRepresentativeTIN":"","financialYear":2024,"externalReference":"myExternalReference"},"withAuditInformation":true,"async":false}},"ASynchronous Export":{"description":"ASynchronous Export","value":{"invoiceFilter":{"purpose":"EREPORTING","flow":"ISSUED","countryIso":"ES","companyVatNumbers":["B27835560"],"period":[{"from":"2024-01","to":"2024-04"}],"year":"2024","statuses":["CORRECTO","INCORRECTO:3000","ACEPTADO_CON_ERRORES:2025"],"documentNumber":"myInvoice","batchNumber":"1234","batchReference":"BATCH-REF-001"},"batchInformation":{"returnType":"A0","reportingEntityTIN":"B27835560","surnamesAndNameOrCompanyName":"Marosa","legalRepresentativeTIN":"","financialYear":2024,"externalReference":"myExternalReference"},"withAuditInformation":true,"async":false}}}}},"required":true},"responses":{"200":{"description":"Invoices exported successfully","content":{"text/csv":{"schema":{"type":"string","format":"binary"},"examples":{"Synchronous Export Response":{"description":"Synchronous Export Response","value":"Create Batch file (CSV format)"}}},"text/plain":{"schema":{"type":"string","format":"string"},"examples":{"Asynchronous Export Response":{"description":"Asynchronous Export Response","value":"Create Batch asynchronously. Check your email."}}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/document/ubl":{"post":{"tags":["Create documents"],"summary":"Create a new document","description":"Creates a new document with the provided information","operationId":"createUBLDocument","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUBLDocumentRequest"}}},"required":true},"responses":{"201":{"description":"Invoice created"},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/v1/invoice/download":{"get":{"tags":["Downloads"],"summary":"Endpoint that returns a PDF file of the invoice","description":"List documents for the provided country and VAT number","operationId":"downloadDocument","parameters":[{"name":"fileId","in":"query","description":"File ID","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Byte array of the file","content":{"*/*":{"schema":{"type":"array","items":{"type":"string","format":"byte"}}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}},"/auth":{"post":{"tags":["Authorization"],"summary":"Authorization","description":"Handles the token request with client credentials","operationId":"1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthRequest"}}},"required":true},"responses":{"200":{"description":"Successfully received request","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Invalid request parameters"},"500":{"description":"Internal server error"}}}},"/v1/document":{"get":{"tags":["List documents"],"summary":"Paginated collection of documents with filtering capabilities","description":"List documents for the provided country and VAT number","operationId":"getDocuments","parameters":[{"name":"purpose","in":"query","description":"Electronic invoicing or real time reporting documents","required":true,"schema":{"type":"string","enum":["EINVOICING","EREPORTING","RETURNS"]}},{"name":"flow","in":"query","description":"Invoice flow. The invoice was issue or received","required":true,"schema":{"type":"string","enum":["ISSUED","RECEIVED"]}},{"name":"countryIso","in":"query","description":"Country code in ISO 3166-1 alpha-2","required":true,"schema":{"type":"string"}},{"name":"documentNumber","in":"query","description":"Reference of the document in client system","required":false,"schema":{"type":"string"}},{"name":"issuedDateFrom","in":"query","description":"Issued date lower range","required":false,"schema":{"type":"string","format":"dd/MM/yyyy"}},{"name":"issuedDateTo","in":"query","description":"Issued date upper range","required":false,"schema":{"type":"string","format":"dd/MM/yyyy"}},{"name":"companyVatNumbers","in":"query","description":"VAT numbers of the companies","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"dueDateFrom","in":"query","description":"Due dater lower range","required":false,"schema":{"type":"string","format":"dd/MM/yyyy"}},{"name":"dueDateTo","in":"query","description":"Due date upper range","required":false,"schema":{"type":"string","format":"dd/MM/yyyy"}},{"name":"status","in":"query","description":"Status of the document","required":false,"schema":{"type":"string","enum":["CREATED","PROCESSING","OK","ERROR","DUPLICATED"]}},{"name":"companyName","in":"query","description":"Name of the company","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20,"enum":["20","50","100","500"]}}],"responses":{"200":{"description":"Documents listed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDocument"}}}},"400":{"description":"Invalid input","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiError"}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"ConsultRequestApi":{"type":"object","properties":{"purpose":{"type":"string","description":"Electronic invoicing or real time reporting documents","enum":["EINVOICING","EREPORTING","RETURNS"]},"flow":{"type":"string","description":"Type of document to consult","enum":["ISSUED","RECEIVED","INTRA_COMMUNITY","INVESTMENT_GOODS","CONSIGNMENT_SALES","CANCEL_ISSUED","CANCEL_RECEIVED","CANCEL_INTRA_COMMUNITY","CANCEL_INVESTMENT_GOODS","CANCEL_CONSIGNMENT_SALES","VERIFACTU","CANCEL_VERIFACTU","VALID_QR_ISSUED"]},"countryIso":{"type":"string","description":"Country code of the company, in ISO 3166-1 alpha-2 format","enum":["ES"]},"vatNumber":{"type":"string","description":"Vat number of the company"},"period":{"$ref":"#/components/schemas/TaxPeriod"}}},"TaxPeriod":{"type":"object","properties":{"from":{"type":"string","example":"2024-01"},"to":{"type":"string","example":"2024-04"}},"description":"Filter by period"},"ApiError":{"type":"object","properties":{"error":{"type":"string"},"exceptionCode":{"type":"string"},"message":{"type":"string"},"information":{"type":"object"}},"description":"Error response"},"ExportTableApi":{"type":"object","properties":{"invoiceFilter":{"$ref":"#/components/schemas/InvoiceFilter"},"async":{"type":"boolean","description":"Indicate if request should be processed asynchronously"}}},"InvoiceFilter":{"required":["countryIso","purpose"],"type":"object","properties":{"period":{"type":"array","description":"Filter by period","items":{"$ref":"#/components/schemas/TaxPeriod"}},"year":{"type":"string","description":"Filter by fiscal year"},"batchNumber":{"type":"string","description":"Filter by batch number"},"batchReference":{"type":"string","description":"Filter by batch reference"},"documentNumber":{"type":"string","description":"Filter by Invoice number"},"companyVatNumbers":{"type":"array","description":"Filter by vat number of various companies","items":{"type":"string","description":"Filter by vat number of various companies"}},"purpose":{"type":"string","description":"Filter by purpose","enum":["EINVOICING","EREPORTING","RETURNS"]},"countryIso":{"type":"string","description":"Filter by country code","enum":["ES"]},"statuses":{"type":"array","description":"Filter by statuses","items":{"type":"string","description":"Filter by statuses"}},"flow":{"type":"string","description":"Filter by invoice type"}},"description":"Invoice filter to generate batch"},"BatchInformation":{"type":"object","properties":{"returnType":{"type":"string","description":"Type of document to return"},"reportingEntityTIN":{"type":"string","description":"Vat number of the reporting entity"},"surnamesAndNameOrCompanyName":{"type":"string","description":"Name of the reporting entity"},"legalRepresentativeTIN":{"type":"string","description":"Vat number of the legal representative"},"financialYear":{"type":"string","description":"Financial year"},"externalReference":{"type":"string","description":"External reference"}},"description":"Batch information"},"InvoiceBatchGeneratorApi":{"type":"object","properties":{"invoiceFilter":{"$ref":"#/components/schemas/InvoiceFilter"},"batchInformation":{"$ref":"#/components/schemas/BatchInformation"},"withAuditInformation":{"type":"boolean","description":"Flag indicating whether to include audit information."},"async":{"type":"boolean","description":"Flag indicating whether the process should be synchronous or asynchronous."}}},"UBLValidationResult":{"type":"object","properties":{"valid":{"type":"boolean"},"errors":{"type":"array","items":{"type":"string"}}}},"ConfigInformation":{"required":["countryIso","flow","purpose","selfBilling","taxCode","vatNumber"],"type":"object","properties":{"taxCode":{"type":"string","description":"The MarosaVAT tax code for the document.","enum":["DSGS","DSGS_CN","DSIG","DSIG_CN","DSS","DSS_CN","DSTG","DSTG_CN","DSGCP","DSGCP_CN","OES","OES_CN","SAB","SAB_CN","DSGRC","DSGRC_CN","DSSRC","DSSRC_CN","ICSG","ICSG_CN","ICSS","ICSS_CN","ICSIG","ICSIG_CN","ICSGCP","ICSGCP_CN","ICSTG","ICSTG_CN","EXG","EXG_CN","EXS","EXS_CN","EXTA","EXTA_CN","EXFA","EXFA_CN","EXTG","EXTG_CN","EXGCP","EXGCP_CN","DSATF","DSATF_CN","DSBT","DSBT_CN","DSSAT","DSSAT_CN","DSATFGCP","DSATFGCP_CN","DSATFTG","DSATFTG_CN","DSBTGCP","DSBTGCP_CN","DSBTTG","DSBTTG_CN","DSSATGCP","DSSATGCP_CN","DSSATTG","DSSATTG_CN","DPGRC","DPGRC_CN","DPSRCNONEU","DPSRCNONEU_CN","DPTGRC","DPTGRC_CN","DPTGRCEU","DPTGRCEU_CN","DPTGRCNONEU","DPTGRCNONEU_CN","ICAG","ICAG_CN","ICAS","ICAS_CN","ICACG","ICACG_CN","ICAFA","ICAFA_CN","ICAIG","ICAIG_CN","ICAOGS","ICAOGS_CN","ICATG","ICATG_CN","ICATGRM","ICATGRM_CN","ICASIG","ICASIG_CN","ICAVG","ICAVG_CN","ICASFAS","ICASFAS_CN","IMPTGD","IMPTGD_CN","IMPTGND","IMPTGND_CN","IMPTS","IMPTS_CN","IMPTTGBPD","IMPTTGBPD_CN","IMPTGPPD","IMPTGPPD_CN","IMPTOGSD","IMPTOGSD_CN","IMPTOGSND","IMPTOGSND_CN","IMPTIGD","IMPTIGD_CN","IMPTIGND","IMPTIGND_CN","IMPTSIG","IMPTSIG_CN","IMPTTGD","IMPTTGD_CN","IMPTTGND","IMPTTGND_CN","IMPTTGRMD","IMPTTGRMD_CN","IMPTTGRMND","IMPTTGRMND_CN","DPGS","DPGS_CN","DPIG","DPIG_CN","DPOGS","DPOGS_CN","DPS","DPS_CN","DPSO","DPSO_CN","DPTG","DPTG_CN","DPTGRM","DPTGRM_CN","DPVGS","DPVGS_CN","DPIGRC","DPIGRC_CN","DPOGSRCEU","DPOGSRCEU_CN","DPOGSRCNONEU","DPOGSRCNONEU_CN","DPSRC","DPSRC_CN","DPSRCEU","DPSRCEU_CN","DPTGRMRC","DPTGRMRC_CN","DPVGSRC","DPVGSRC_CN","DRCNE","DRCNE_CN","TRIAB","TRIAB_CN","TRISB","TRISB_CN","TRISBGC","TRISBGC_CN","TRISBTG","TRISBTG_CN","TRISBFAS","TRISBFAS_CN","DSSBRC","DSSBRC_CN","DPIGRCEU","DPIGRCEU_CN","DPIGRCNONEU","DPIGRCNONEU_CN","IMPTIGBPD","IMPTIGBPD_CN","DSCSRC","DSCSRC_CN","DPGASRC","DPGASRC_CN","DPGSWRC","DPGSWRC_CN","DPGMRC","DPGMRC_CN","DPEGRC","DPEGRC_CN","SOTS","SOTS_CN","ESF","ESF_CN","OSSG","OSSG_CN","OSSS","OSSS_CN","IOSSG","IOSSG_CN","IOSSS","IOSSS_CN","DPOC","DPOC_CN","DPOF","DPOF_CN","DSOC","DSOC_CN","DSOF","DSOF_CN","ICASP","ICASP_CN","DSSP","DSSP_CN","DSGSRC","DSGSRC_CN","DPGSRC","IMPTG","DPGSRC_CN","LEASE","DPGERC","DPGERC_CN","DPEEGRC","DPEEGRC_CN","DSEERC","DSEERC_CN","DPRCL","DPRCL_CN","DPGSRC_NS","DPGSRC_NS_CN","LEASE_CN","DSGES","DSGES_CN","DPERC","DPERC_CN","DPGSE","DPGSE_CN","DSGSE","DSGSE_CN","OtherGS","OtherGS_CN","DSPG","DSPG_CN","DPIGOE_CN","DPIGOE","DSGST","DSGST_CN","DSSA_CN","DSSA","OSAD","OSAD_CN","DPTG_ND","DPTG_ND_CN","DPTG_50D","DPTG_50D_CN","DPOGS_ND","DPOGS_ND_CN","DPOGS_50D","DPOGS_50D_CN","DSGSRD","DSGSRD_CN","DSGSWRD","DSGSWRD_CN","DPSGRC","DPSGRC_CN","DPGS_ND","DPGS_ND_CN","DPCGS","DPCGS_CN","IMPTCGND","IMPTCGND_CN","DSCGS","DSCGS_CN","OUTSS","OUTSS_CN","OUTSP","OUTSP_CN","ICAS_EX","ICAS_EX_CN","DPGS_PD","DPGS_PD_CN","ICSS_NE","ICSS_NE_CN","ICSS_EX","ICSS_EX_CN","DPCSSMRC","DPCSSMRC_CN","DSCSSMRC","DSCSSMRC_CN","DSGS_DOM","DSGS_DOM_CN","DPGS_DOM","DPGS_DOM_CN","DSGS_AB_GTU01","DSGS_AB_GTU01_CN","DSGS_GD_GTU02","DSGS_GD_GTU02_CN","DSGS_LO_GTU03","DSGS_LO_GTU03_CN","DSGS_TB_GTU04","DSGS_TB_GTU04_CN","DSGS_W_GTU05","DSGS_W_GTU05_CN","DSGS_ED_GTU06","DSGS_ED_GTU06_CN","DSGS_VH_GTU07","DSGS_VH_GTU07_CN","DSGS_M_GTU08","DSGS_M_GTU08_CN","DSGS_MED_GTU09","DSGS_MED_GTU09_CN","DSGS_BL_GTU10","DSGS_BL_GTU10_CN","DSGS_GAS_GTU11","DSGS_GAS_GTU11_CN","DSGS_CONS_GTU12","DSGS_CONS_GTU12_CN","DSGS_TWS_GTU13","DSGS_TWS_GTU13_CN","ICSG_AB_GTU01","ICSG_AB_GTU01_CN","ICSG_GD_GTU02","ICSG_GD_GTU02_CN","ICSG_LO_GTU03","ICSG_LO_GTU03_CN","ICSG_TB_GTU04","ICSG_TB_GTU04_CN","ICSG_W_GTU05","ICSG_W_GTU05_CN","ICSG_ED_GTU06","ICSG_ED_GTU06_CN","ICSG_VH_GTU07","ICSG_VH_GTU07_CN","ICSG_M_GTU08","ICSG_M_GTU08_CN","ICSG_MED_GTU09","ICSG_MED_GTU09_CN","ICSG_BL_GTU10","ICSG_BL_GTU10_CN","ICSS_GAS_GTU11","ICSS_GAS_GTU11_CN","ICSS_CONS_GTU12","ICSS_CONS_GTU12_CN","ICSS_TWS_GTU13","ICSS_TWS_GTU13_CN","EXG_AB_GTU01","EXG_AB_GTU01_CN","EXG_GD_GTU02","EXG_GD_GTU02_CN","EXG_LO_GTU03","EXG_LO_GTU03_CN","EXG_TB_GTU04","EXG_TB_GTU04_CN","EXG_W_GTU05","EXG_W_GTU05_CN","EXG_ED_GTU06","EXG_ED_GTU06_CN","EXG_VH_GTU07","EXG_VH_GTU07_CN","EXG_M_GTU08","EXG_M_GTU08_CN","EXG_MED_GTU09","EXG_MED_GTU09_CN","EXG_BL_GTU10","EXG_BL_GTU10_CN","EXS_GAS_GTU11","EXS_GAS_GTU11_CN","EXS_CONS_GTU12","EXS_CONS_GTU12_CN","EXS_TWS_GTU13","EXS_TWS_GTU13_CN","DSGRC_GAS_GTU11","DSGRC_GAS_GTU11_CN","DSGRC_CONS_GTU12","DSGRC_CONS_GTU12_CN","DSGRC_TWS_GTU13","DSGRC_TWS_GTU13_CN","TBEBT_B2C_WSTO_EE","TBEBT_B2C_WSTO_EE_CN","TRIAB_TT_WNT","TRIAB_TT_WNT_CN","DSBT_WSTO_EE","DSBT_WSTO_EE_CN","DSATF_WSTO_EE","DSATF_WSTO_EE_CN","TRISB_TT_D","TRISB_TT_D_CN","ICAGNI","ICAGNI_CN","ICSGNI","ICSGNI_CN","DSGSMC","DSGSMC_CN","DPRCCS","DPRCCS_CN"]},"period":{"$ref":"#/components/schemas/TaxPeriod"},"vatNumber":{"type":"string","description":"VAT number of the company","example":"RO12345678A"},"countryIso":{"type":"string","description":"Country code of the company, in ISO 3166-1 alpha-2 format","example":"RO"},"selfBilling":{"type":"boolean","description":"Indicates if the invoice is meant to be self billing or not","example":false},"purpose":{"type":"string","description":"Indicates the purpose for the document (e-Invoicing, e-Reporting, Returns)","example":"EREPORTING","enum":["EINVOICING","EREPORTING","RETURNS"]},"flow":{"type":"string","description":"Indicates if the document has been issued or have been received","example":"ISSUED","enum":["ISSUED","RECEIVED"]},"language":{"type":"string","description":"Indicates the language of the document","example":"ENGLISH"},"spainExtensionConfig":{"$ref":"#/components/schemas/SpainExtensionConfigInformation"}},"description":"Additional configuration for document creation, like VAT number, country code, etc."},"CreateUBLDocumentRequest":{"required":["transactionDocument"],"type":"object","properties":{"documentConfig":{"$ref":"#/components/schemas/ConfigInformation"},"transactionDocument":{"type":"string","description":"XML Document of the invoice in UBL 2.1 format","example":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\"?>\n<Invoice xmlns=\"urn:oasis:names:specification:ubl:schema:xsd:Invoice-2\" xmlns:cac=\"urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2\" xmlns:cbc=\"urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2\" xmlns:ns4=\"urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2\">\n    <cbc:CustomizationID>urn:cen.eu:en16931:2017#compliant#urn:efactura.mfinante.ro:CIUS-RO:1.0.1</cbc:CustomizationID>\n    <cbc:ID>FO055272</cbc:ID>\n    <cbc:IssueDate>2024-04-23</cbc:IssueDate>\n    <cbc:DueDate>2024-04-23</cbc:DueDate>\n    <cbc:InvoiceTypeCode>380</cbc:InvoiceTypeCode>\n    <cbc:DocumentCurrencyCode>EUR</cbc:DocumentCurrencyCode>\n    <cbc:TaxCurrencyCode>RON</cbc:TaxCurrencyCode>\n    <cac:AccountingSupplierParty>\n        <cac:Party>\n            <cac:PostalAddress>\n                <cbc:StreetName>Street address</cbc:StreetName>\n                <cbc:CityName>SECTOR2</cbc:CityName>\n                <cbc:CountrySubentity>RO-B</cbc:CountrySubentity>\n                <cac:Country>\n                    <cbc:IdentificationCode>RO</cbc:IdentificationCode>\n                </cac:Country>\n            </cac:PostalAddress>\n            <cac:PartyTaxScheme>\n                <cbc:CompanyID>RO99999999</cbc:CompanyID>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:PartyTaxScheme>\n            <cac:PartyLegalEntity>\n                <cbc:RegistrationName>N/A</cbc:RegistrationName>\n            </cac:PartyLegalEntity>\n            <cac:Contact>\n                <cbc:ElectronicMail>N/A</cbc:ElectronicMail>\n            </cac:Contact>\n        </cac:Party>\n    </cac:AccountingSupplierParty>\n    <cac:AccountingCustomerParty>\n        <cac:Party>\n            <cac:PartyName>\n                <cbc:Name>Ford Otosan Romania SRL</cbc:Name>\n            </cac:PartyName>\n            <cac:PostalAddress>\n                <cbc:StreetName>Str. Henry Ford 29</cbc:StreetName>\n                <cbc:CityName>Craiova</cbc:CityName>\n                <cbc:CountrySubentity>RO-DJ</cbc:CountrySubentity>\n                <cac:Country>\n                    <cbc:IdentificationCode>RO</cbc:IdentificationCode>\n                </cac:Country>\n            </cac:PostalAddress>\n            <cac:PartyTaxScheme>\n                <cbc:CompanyID>RO6488696</cbc:CompanyID>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:PartyTaxScheme>\n            <cac:PartyLegalEntity>\n                <cbc:RegistrationName>Ford Otosan Romania SRL</cbc:RegistrationName>\n            </cac:PartyLegalEntity>\n        </cac:Party>\n    </cac:AccountingCustomerParty>\n    <cac:TaxRepresentativeParty>\n        <cac:PartyName>\n            <cbc:Name>VHCI BUSINESS DEVELOPMENT SRL</cbc:Name>\n        </cac:PartyName>\n        <cac:PostalAddress>\n            <cbc:StreetName>Str. Avionului 26</cbc:StreetName>\n            <cbc:CityName>SECTOR1</cbc:CityName>\n            <cbc:CountrySubentity>RO-B</cbc:CountrySubentity>\n            <cac:Country>\n                <cbc:IdentificationCode>RO</cbc:IdentificationCode>\n            </cac:Country>\n        </cac:PostalAddress>\n        <cac:PartyTaxScheme>\n            <cbc:CompanyID>RO48747079</cbc:CompanyID>\n            <cac:TaxScheme>\n                <cbc:ID>VAT</cbc:ID>\n            </cac:TaxScheme>\n        </cac:PartyTaxScheme>\n    </cac:TaxRepresentativeParty>\n    <cac:TaxTotal>\n        <cbc:TaxAmount currencyID=\"EUR\">25.19</cbc:TaxAmount>\n        <cac:TaxSubtotal>\n            <cbc:TaxableAmount currencyID=\"EUR\">423.96</cbc:TaxableAmount>\n            <cbc:TaxAmount currencyID=\"EUR\">21.20</cbc:TaxAmount>\n            <cac:TaxCategory>\n                <cbc:ID>S</cbc:ID>\n                <cbc:Percent>5.00</cbc:Percent>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:TaxCategory>\n        </cac:TaxSubtotal>\n        <cac:TaxSubtotal>\n            <cbc:TaxableAmount currencyID=\"EUR\">44.31</cbc:TaxableAmount>\n            <cbc:TaxAmount currencyID=\"EUR\">3.99</cbc:TaxAmount>\n            <cac:TaxCategory>\n                <cbc:ID>S</cbc:ID>\n                <cbc:Percent>9.00</cbc:Percent>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:TaxCategory>\n        </cac:TaxSubtotal>\n    </cac:TaxTotal>\n    <cac:TaxTotal>\n        <cbc:TaxAmount currencyID=\"RON\">125.45</cbc:TaxAmount>\n    </cac:TaxTotal>\n    <cac:LegalMonetaryTotal>\n        <cbc:LineExtensionAmount currencyID=\"EUR\">468.27</cbc:LineExtensionAmount>\n        <cbc:TaxExclusiveAmount currencyID=\"EUR\">468.27</cbc:TaxExclusiveAmount>\n        <cbc:TaxInclusiveAmount currencyID=\"EUR\">493.46</cbc:TaxInclusiveAmount>\n        <cbc:PayableAmount currencyID=\"EUR\">493.46</cbc:PayableAmount>\n    </cac:LegalMonetaryTotal>\n    <cac:InvoiceLine>\n        <cbc:ID>0</cbc:ID>\n        <cbc:InvoicedQuantity unitCode=\"H87\">6</cbc:InvoicedQuantity>\n        <cbc:LineExtensionAmount currencyID=\"EUR\">423.96</cbc:LineExtensionAmount>\n        <cac:Item>\n            <cbc:Name>Heavy Duty Plastic Plate</cbc:Name>\n            <cac:SellersItemIdentification>\n                <cbc:ID>AmazingDiscount624224</cbc:ID>\n            </cac:SellersItemIdentification>\n            <cac:ClassifiedTaxCategory>\n                <cbc:ID>S</cbc:ID>\n                <cbc:Percent>5.00</cbc:Percent>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:ClassifiedTaxCategory>\n        </cac:Item>\n        <cac:Price>\n            <cbc:PriceAmount currencyID=\"EUR\">70.66</cbc:PriceAmount>\n        </cac:Price>\n    </cac:InvoiceLine>\n    <cac:InvoiceLine>\n        <cbc:ID>1</cbc:ID>\n        <cbc:InvoicedQuantity unitCode=\"H87\">21</cbc:InvoicedQuantity>\n        <cbc:LineExtensionAmount currencyID=\"EUR\">44.31</cbc:LineExtensionAmount>\n        <cac:Item>\n            <cbc:Name>Awesome Marble Hat</cbc:Name>\n            <cac:SellersItemIdentification>\n                <cbc:ID>SweetPrice714832</cbc:ID>\n            </cac:SellersItemIdentification>\n            <cac:ClassifiedTaxCategory>\n                <cbc:ID>S</cbc:ID>\n                <cbc:Percent>9.00</cbc:Percent>\n                <cac:TaxScheme>\n                    <cbc:ID>VAT</cbc:ID>\n                </cac:TaxScheme>\n            </cac:ClassifiedTaxCategory>\n        </cac:Item>\n        <cac:Price>\n            <cbc:PriceAmount currencyID=\"EUR\">2.11</cbc:PriceAmount>\n        </cac:Price>\n    </cac:InvoiceLine>\n</Invoice>\n\n"}}},"SpainExtensionConfigInformation":{"required":["typeOfInvoice"],"type":"object","properties":{"typeOfInvoice":{"type":"string","description":"Type of Invoice for Spain","example":"F1"},"returnType":{"type":"string","description":"Return type for Spain","example":"A1"},"taxRelevanceCode":{"type":"string","description":"Tax relevance code of the document separate with #","example":"01"},"externalReference":{"type":"string","description":"External reference of the document","example":"Issued by MarosaVAT"},"registrationNumberObtainedWithAuthorizationShipment":{"type":"string","description":"Authorization submission registration number.","example":"Registration Number"},"transactionDate":{"type":"string","description":"Transation date in 'yyyy-mm-dd' format ","example":"2025-01-27"},"thirdPartyIssuedInvoice":{"type":"string","description":"Specifies who issued the document","example":"D"},"reductionOfTaxBaseForCouponsDiscountOrRebatesGranted":{"type":"string","description":"Indicate if the document has a reduction of tax base for coupons discount or rebates granted","example":"N"},"macroData":{"type":"string","description":"Indicates if the document amount exceeds the specified threshold","example":"N"},"simplifiedInvoice":{"type":"string","description":"Indicates if the document is simplified or not","example":"N"},"typeOfCorrection":{"type":"string","description":"Indicates if the document is a correction or not","example":"N"}},"description":"Indicates the language of the document"},"AuthRequest":{"required":["client_id","client_secret","grant_type","password","username"],"type":"object","properties":{"username":{"type":"string","description":"Username","example":"your-username"},"password":{"type":"string","description":"Password","example":"your-password"},"client_id":{"type":"string","description":"Client ID","example":"your-client-id"},"grant_type":{"type":"string","description":"Grant type","example":"password"},"client_secret":{"type":"string","description":"Client secret","example":"your-client-secret"}}},"Document":{"type":"object","properties":{"id":{"type":"string"},"documentNumber":{"type":"string"},"document":{"type":"string"},"batchNumber":{"type":"string"},"year":{"type":"integer","format":"int32"},"issueDate":{"type":"string","format":"date-time"},"companyCif":{"type":"string"},"companyName":{"type":"string"},"dueDate":{"type":"string","format":"date-time"},"total":{"type":"number"},"errorMessage":{"type":"string"},"authorityId":{"type":"string"},"status":{"type":"string","enum":["CREATED","PROCESSING","OK","ERROR","DUPLICATED"]},"flow":{"type":"string","enum":["ISSUED","RECEIVED"]},"fileId":{"type":"string"}}},"PageDocument":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/Document"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}